{% extends "layout.html" %}

{% block title %}
    Home - SlackClone
{% endblock%}

{% block script %}
    <script src="{{ url_for('static', filename='LoginScript.js') }}">

    </script>
{% endblock %}

{% block body %}
    <h1>Welcome to Slack</h1>

    <h3>Enter a display name</h3>

    <div id="user-form-block">
        <form id="form">
            <input id="username" placeholder="Display Name" required>
            <input type="submit" value="Sign Up">
        </form>
    </div>

    <input id="displayname">
    <button>Sign Up</button>

    <h2 id="name"></h1>
{% endblock %}