<!DOCTYPE html>
<html>
    <head>
        <title>hello</title>
        <script src="{{ url_for('static', filename='index.js') }}">
        </script>
    </head>
    <body>
        <h1>Welcome to Slack</h1>

    <!-- <h3>Enter a display name</h3> -->

    <div id="user-form-block">
        <!-- <form id="form">
            <input id="username" placeholder="Display Name" required>
            <input type="submit" value="Sign Up">
        </form> -->
    </div>

    <h2 id="name"></h1>
    </body>
</html>
